@import url('https://fonts.googleapis.com/css?family=VT323');

.tab1 { padding-left: 0.5em;}

:root {
    --primary: #272727;
    --primary-dark: #141414;
    --text: #D3D0CB;
    --second: #2B50AA;
    --acc-1: #E2C044;
    --acc-2: #E34A6F;
}
body{
    background: var(--primary-dark);
    color: var(--text);
    margin: 0;
    padding: 0;
    font-family: VT323;
    font-weight: 900;
    font-size: 22px;
}


